/* Basic reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

body, html {
    height: 100%;
    overflow-x: hidden;
}

i {
    width: 30px;
}

.container {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.background-clip {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.content {
    position: relative;
    text-align: center;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 1s ease-in-out forwards;
    transition: transform 0.7s ease; /* Ensure smooth transition when menu is opened */
}

.social-links {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    opacity: 1; /* Ensure opacity is 1 to be visible */
    animation: fadeInUp 1s ease-in-out 0.5s forwards;
}

.social-links a {
    color: white;
    font-size: 24px;
    margin: 0 10px;
    text-decoration: none;
    opacity: 1; /* Ensure opacity is 1 to be visible */
    animation: fadeInUp 1s ease-in-out 0.5s forwards;
}


.title {
    font-size: clamp(50px, 10vw, 95px);
    color: #fff;
    margin-bottom: 30px;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 1s ease-in-out 1s forwards;
}

.menu {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    animation: fadeInUp 1s ease-in-out 1.5s forwards;
}

.menu a {
    color: #fff;
    font-size: clamp(18px, 4vw, 25px);
    text-decoration: none;
    margin: 0 15px;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 1s ease-in-out 1.5s forwards;
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000; /* or any color */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.spinner {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1.5s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.menu-button {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 30px;
    color: white;
    cursor: pointer;
    z-index: 2;
    display: none;
    /* Add a transition for smoother icon change */
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.menu-button .fas.fa-bars {
    display: block;
}

/* Styles for the X icon (when menu is open) */
.menu-button .fas.fa-times {
    display: none;
}

/* Show the X icon when menu is open */
.menu-button.open .fas.fa-bars {
    display: none;
}

.menu-button.open .fas.fa-times {
    display: block;
}

@media (max-width: 768px) {
    .menu-button {
        display: block;
    }
}




.side-menu {
    position: fixed;
    top: 0;
    left: -300px; /* Initially hidden */
    width: 300px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;
    transition: left 0.7s ease;
}

.content-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.7s ease; /* Smooth transition when menu opens */
}

.side-menu.open {
    left: 0; /* Slide in menu */
}

.container.menu-open .content-wrapper {
    transform: translateX(300px); /* Move content to the right */
}

.menu {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-top: 50px;
}

.menu a {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    margin: 15px 0;
}

.container.menu-open .content {
    transform: translateX(300px); /* Push the content to the right */
}

.logo {
    width: 100%; /* Adjust width as needed */
    max-width: 50px; /* Adjust max-width as needed */
    margin-bottom: 20px; /* Adjust margin as needed */
    position: absolute;
    top: 20px;
    left: 20px;
    /* Other styling if needed */
}
